<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempSuitability_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TempSuitability_CSharp.Properties.Settings>
            <setting name="LST_Day_Files" serializeAs="String">
                <value>G:\\tmp_local\\LST_Day_5km_8day\\*.tif</value>
            </setting>
            <setting name="LST_Night_Files" serializeAs="String">
                <value>G:\\tmp_local\\LST_Night_5km_8day\\*.tif</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>C:\\temp\\tsmodel\\5km\\local</value>
            </setting>
            <setting name="WestLim" serializeAs="String">
                <value>12.8</value>
            </setting>
            <setting name="EastLim" serializeAs="String">
                <value>12.9</value>
            </setting>
            <setting name="NorthLim" serializeAs="String">
                <value>22.8</value>
            </setting>
            <setting name="SouthLim" serializeAs="String">
                <value>22.7</value>
            </setting>
            <setting name="LS_Mask_File" serializeAs="String">
                <value>Z:\\mastergrids\\Global_Masks\\Land_Sea_Masks\\CoastGlobal_5k.tif</value>
            </setting>
            <setting name="MaskValidValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TileSizePx" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ParamSliceLengthHours" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ParamLifespanDays" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="ParamDeathTempCelsius" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ParamSporogDegreeDays" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="ParamMinTempThreshCelsius" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ParamMaxTSNormaliser" serializeAs="String">
                <value>34.2467</value>
            </setting>
            <setting name="MaxThreads" serializeAs="String">
                <value>0</value>
            </setting>
        </TempSuitability_CSharp.Properties.Settings>
    </applicationSettings>
</configuration>