<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempSuitability_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TempSuitability_CSharp.Properties.Settings>
            <setting name="MaskValidValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ParamSliceLengthHours" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ParamLifespanDays" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="ParamDeathTempCelsius" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ParamSporogDegreeDays" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="ParamMinTempThreshCelsius" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ParamMaxTSNormaliser" serializeAs="String">
                <value>34.2467</value>
            </setting>
            <setting name="Max_Temp_Files" serializeAs="String">
                <value>E:\Path\To\LST_Day_Files\*_Data.tif</value>
            </setting>
            <setting name="Min_Temp_Files" serializeAs="String">
                <value>E:\Path\To\LST_Night_Files\*_Data.tif</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>E:\Path\To\Output\Folder</value>
            </setting>
            <setting name="WestLim" serializeAs="String">
                <value>-60</value>
            </setting>
            <setting name="EastLim" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="NorthLim" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="SouthLim" serializeAs="String">
                <value>-60</value>
            </setting>
            <setting name="LS_Mask_File" serializeAs="String">
                <value>Z:\Path\To\CoastlineMaskFile.tif</value>
            </setting>
            <setting name="TileSizePx" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="MaxThreads" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Max_Temp_Convert_From_LST" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Min_Temp_Convert_From_LST" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Min_Required_Data_Points" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Read_From_Date" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="Read_To_Date" serializeAs="String">
                <value>2017-01-31</value>
            </setting>
            <setting name="Output_File_Tag" serializeAs="String">
                <value>TSI_Output</value>
            </setting>
        </TempSuitability_CSharp.Properties.Settings>
    </applicationSettings>
</configuration>