<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TempSuitability_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TempSuitability_CSharp.Properties.Settings>
          <setting name="LST_Day_Files" serializeAs="String">
            <value>J:\MOD11A2_Gapfilled_Output\LST_Day\Output_Final_30k_2030pc\*_Data.tif</value>
          </setting>
          <setting name="LST_Night_Files" serializeAs="String">
            <value>J:\MOD11A2_Gapfilled_Output\LST_Night\Output_Final_30k_2030pc\*_Data.tif</value>
          </setting>
          <setting name="OutputFolder" serializeAs="String">
            <value>C:\temp\tsmodel\1km\local\martens2_1k_mexico_wtf</value>
          </setting>
          <setting name="WestLim" serializeAs="String">
            <value>-104.125</value>
          </setting>
          <setting name="EastLim" serializeAs="String">
            <value>-104.09</value>
          </setting>
          <setting name="NorthLim" serializeAs="String">
            <value>28.235</value>
          </setting>
          <setting name="SouthLim" serializeAs="String">
            <value>28.2</value>
          </setting>
          <setting name="LS_Mask_File" serializeAs="String">
            <value>Z:\mastergrids\Global_Masks\Land_Sea_Masks\CoastGlobal.tiff</value>
          </setting>
          <setting name="MaskValidValue" serializeAs="String">
            <value>1</value>
          </setting>
          <setting name="TileSizePx" serializeAs="String">
            <value>100</value>
          </setting>
          <setting name="ParamSliceLengthHours" serializeAs="String">
            <value>2</value>
          </setting>
          <setting name="ParamLifespanDays" serializeAs="String">
            <value>31</value>
          </setting>
          <setting name="ParamDeathTempCelsius" serializeAs="String">
            <value>40</value>
          </setting>
          <setting name="ParamSporogDegreeDays" serializeAs="String">
            <value>111</value>
          </setting>
          <setting name="ParamMinTempThreshCelsius" serializeAs="String">
            <value>16</value>
          </setting>
          <setting name="ParamMaxTSNormaliser" serializeAs="String">
            <value>34.2467</value>
          </setting>
          <setting name="MaxThreads" serializeAs="String">
            <value>1</value>
          </setting>
        </TempSuitability_CSharp.Properties.Settings>
    </applicationSettings>
</configuration>